<plugin name='hibernate-jpa-provider' version='1.0.0.M1' grailsVersion='2.0 &gt; *'>
  <author>Graeme Rocher</author>
  <authorEmail>grocher@vmware.com</authorEmail>
  <title>Hibernate Jpa Provider Plugin</title>
  <description>Integrates Hibernate as a JPA provider
</description>
  <documentation>http://grails.org/plugin/hibernate-jpa-provider</documentation>
  <type>HibernateJpaProviderGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='org.hibernate' name='hibernate-entitymanager' version='3.6.7.Final' />
      <dependency group='org.hibernate' name='hibernate-validator' version='4.1.0.Final' />
      <dependency group='org.hibernate' name='hibernate-core' version='3.6.7.Final' />
    </compile>
    <runtime>
      <dependency group='javassist' name='javassist' version='3.12.0.GA' />
      <dependency group='dom4j' name='dom4j' version='1.6.1' />
      <dependency group='org.hibernate' name='hibernate-ehcache' version='3.6.7.Final' />
      <dependency group='antlr' name='antlr' version='2.7.6' />
    </runtime>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>